body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Header styles start */

.logo-header {
  background-color: #ee3643;
}

.menu-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #293449;
}

.menu-header a {
  color: #ffffff;
}

.navigation a {
  color: #ffffff;
}

.contacts-header a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  border: 3px solid #ffffff;
  color: #ee3643;
}

.account a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.search input {
  background-color: #293449;
}

.search label {
  font-size: 17px;
  line-height: 18px;
}

.contacts-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

.info-header {
  background-color: #f4f7f9;
}

.btn-account button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;

  background-color: #293449;
}

.main-title {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
}

/* Header styles end */

.title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  /*Временно черный*/
}

.popular {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.caption {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  width: 111px;
  height: 22px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.new-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  /*Временно черный, заменить потом на белый*/
}

.about-company {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.list-of-partners {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.button-more {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

/* Footer styles start */
.footer {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #32425c;
}

.nav-footer {
  color: #f3f7f9;
}

.nav-footer a {
  color: #f1f5f7;
}

.footer-navigation-second a {
  color: #ffd180;
}

.footer-social {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #293449;
}

.footer-social a {
  color: #ffd180;
}

.footer-social li {
  background-color: #212a3a;
}

.logo-footer {
  width: 220px;
  height: 47px;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  background-color: #ee3643;
}


/* Footer styles end */




.breadcrumb a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter li {
  font-size: 15px;
  font-weight:400;
  line-height: 20px;
  text-transform: uppercase;
}

.modal {
  display: none;
}

.letter {
  display: none;
}

.title-hidden {
  display: none;
}
