body {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-family: "PT Sans", sans-serif, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.menu-header {
  background-color: #293449;
  color: #ffffff;
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
}

.search {
  background-color: #293449;
}

h1 {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  color: #ee3643;
}

h2 {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

h3 a {
  font-family: "PTSans-Bold", sans-serif, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

.old-price {
  font-family: "PTSans-Bold", sans-serif, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.new-price {
  font-family: "PTSans-Bold", sans-serif, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.contacts-header {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #32425c;
  background-color: #f4f7f9;
}

.contacts-header a {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  border: 3px solid #ffffff;
  color: #ee3643;
  background-color: #f4f7f9;
}

.info-header {
  background-color: #f4f7f9;
}

.btn-account button {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

button {
  font-family: "PT Sans", sans-serif, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.account a {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

header nav {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;
  color: #ffffff;
  background-color: #293449;
}

a {
  color: #ffffff;
}

.about-company {
  font-family: "PT Sans", sans-serif, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.list-of-partners {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  color: #000000;
}

.button-more {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

footer {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.nav-footer {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-navigation-second a {
  color: #ffd180;
}

.footer-social {
  font-family: "Cuprum", sans-serif, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #ffffff;
  background-color: #293449;
}

.footer-social li {
  background-color: #212a3a;
}

.logo {
  width: 220px;
  height: 47px;
  font-size: 19px;
  font-weight: normal;
  line-height: 19px;
  background-color: #ee3643;
}

.breadcrumb a {
  font-family: "PT Sans", sans-serif, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

legend .filter {
  font-family: "PT Sans-Bold", sans-serif, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter {
  font-family: "PT Sans", sans-serif, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.modal {
  display: none;
}

.letter {
  display: none;
}
