body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Header styles start */

.page-header {
  font-family: "Cuprum", Arial, sans-serif;
}

.logo-header {
  background-color: #ee3643;
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.main-title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.menu-header {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #293449;
}

.menu-header:hover {
  background-color: #212a3a;
}

.menu-header a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.menu-header a {
  color: #ffffff;
}

.contacts-header p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contacts-header a {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  border: 3px solid #ffffff;
  color: #ee3643;
}

.account a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.search input {
  background-color: #293449;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:active {
  color: #000000;
  background-color: #ffffff;
}

.search label {
  font-size: 17px;
  line-height: 18px;
}


.info-header {
  background-color: #f4f7f9;
}

.btn-account a {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.account a:hover, .btn-account a:hover {
  color: #ee3643;
}

.account a:active, .btn-account a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #293449;
}


.navigation a {
  color: #ffffff;
}

.navigation a:hover {
  background-color: #1d2739;
}

.navigation a:active {
  color:rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* Header styles end */


/*Promo-block and items styles start*/
.slider-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  /*Временно черный*/
}

.product-old-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.product-new-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  background-image: url("img/red-button.svg");
  background-size: 100px 82px;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.offer-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  /*Временно черный, заменить потом на белый*/
}

/*Promo-block and items styles end*/


/*About company styles start */

.partners-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.caption {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

/*About company styles end */


/* Footer styles start */

.footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  background-color: #32425c;
}

.logo-footer {
  background-color: #ee3643;
}

.nav-footer {
  color: #f3f7f9;
}

.nav-footer a {
  color: #f1f5f7;
}

.nav-footer a:hover {
  color: #f1f5f7;
  text-decoration: underline;
}

.nav-footer  a:active {
  color: rgba(241, 245, 247, 0.5);
}

.socials a {
  color: #ffffff;
  background-color: #212a3a;
}

.socials a:hover, .socials a:active {
  color: #ffffff;
  background-color: #ee3643;
}


.footer-navigation-second a {
  color: #ffd180;
}

.footer-navigation-second a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.footer-navigation-second  a:active {
  color: rgba(255, 209, 128, 0.5);
}


.footer-social {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  background-color: #293449;
}

.contacts-footer a {
  color: #ffd180;
}

.contacts-footer a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.contacts-footer a:active {
  color: #ee3643;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

/* Footer styles end */


/* Catalog styles start */
.breadcrumb a {
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter-legend, .filter-list {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter li {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.product-item {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.product-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.product-buy-button {
  color: #ffffff;
  background-color: #63a63e;
}

.product-buy-button:hover {
  background-color: #5fbb2d;
}

.product-buy-button:active {
  background-color: #518534;
}

.product-bookmarks-button {
  color: #32425c;
  border: 3px solid #63a63e;
}

.product-bookmarks-button:hover {
  border: 3px solid #32425c;
}

.product-bookmarks-button:active {
  color: rgba(50, 66, 92, 0.3);
  opacity: 0.3;
  border: 3px solid #32425c;
}

/* Catalog styles end */
.modal {
  display: none;
}

.letter {
  display: none;
}

.title-hidden {
  display: none;
}

.button-more {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.button-more:hover {
  background-color: #ca2c37;
}

.button-more:active {
  background-color: #ba2732;
}
